<!DOCTYPE html>
<html lang="">

<head>
    <link href="/css/style.css" rel="stylesheet">

    <title></title>
</head>

<body>
    <h1>{{title}}</h1>
    <h1>{{name}}</h1>
    <form>
        <label for="address">
            <input type="text" id="address" name="address" placeholder="Enter the Address" />
        </label>
        <button>Search</button>
    </form>
    <p id="messageOne"></p>
    <p id="messageTwo"></p>


    <script rel="script" src="/js/script.js" ></script>
</body>

</html>